@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',sans-serif;
    line-height: 1.4;
}
/*  Utility Class */

.text-center{
    text-align: center;     
}

.primary {
    color: #93cb52;
}

.l-heading{ 
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.m-heading{ 
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn{
    display: inline-block;
    color: #fff;
    background: #93cb52;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    text-decoration: none;
}

.bg-primary{
    background: #93cb52;
    color: #fff;
}
.btn-dark{
    display: inline-block;
    color: #fff;
    background: #333;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    text-decoration: none;
}

.btn:hover {
    background: #7ab436;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.py-1 { padding: 1.5rem 0;}
.py-2 { padding: 2rem 0;}
.py-3 { padding: 3rem 0;}  

.p-1 { padding: 1.5rem;}
.p-2 { padding: 2rem;}
.p-3 { padding: 3rem;}

.list {
    margin: 0.5rem;
    list-style: none;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #fff;
}

/* Nav Bar */

#top-nav {
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1rem;
}

#top-nav ul {
    list-style: none;
    display: flex;
}

#top-nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#top-nav ul li a:hover {
    background: #93cb52;
    border-radius: 5px;
}

/* Show Case  */
#showcase {
    background: #333 url(./image_resources/showcase.jpg) no-repeat center center/cover;
    color: #fff;
    height: 100vh;
}

#showcase .showcase-cont {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    /* Overlay */
    position: absolute;
    bottom: 0;
    right: 0;
    top: 65px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

/* What We Do */

#what .items{
    display: flex;
    padding: 1rem;
}

#what .item {
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#what .item i {
    background: #92cb52;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/*  Who Are We */

#who {
    display: flex;
}
#who div{
    flex: 1;
}

#who .who-img {
    background: url(./image_resources/people.jpg) no-repeat center center/cover;
}

/*  Clients */

#clients .items{
    display: flex;
}

#clients .items img {
    display: block;
    margin: auto;
    width: 60%;
}

/* Contact */
#contact {
    display: flex;
}

#contact .map, #contact .contact-form{
    flex: 1;
}

#contact .contact-form .from-group {
    margin: 0.75rem
}

#contact .contact-form label {
    display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
}

#success {
    height: 78.5vh;
}

#success .container {
    margin-top: 8%;
}